{% set title = "Контакты" %}

{% set description = "" %}

{% set ogImage = "img/contacts/og.jpg" %}
{% set ogImage236 = "img/contacts/og-236.jpg" %}
{% set urlPage = "contacts" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center filter-show__hide">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}

Главная страница /





Новости




Доставка и оплата




Контакты






О магазине




Гарантия и возврат




Пользовательскоесоглашение







+7 (499) 110-99-38



info@mishka-shop.com








График работыПн-Сб: с 10:00 до 20:00(по Москве)Воскресенье - выходной
Наш адрес: г. Москва, Барклая д. 8ТЦ Горбушка, пав. 240 - Пункт выдачи&nbsp;&nbsp;Метро Маяковская, Оружейный переулок, дом 5 - ШОУ РУМ





Реквизиты онлайн-магазина“Mishka-shop” (mishka-shop.com)
Наименование ООО "МИ-ТРЕЙД"Система налогообложения УСНЮридический адрес 111524, Москва,ул Электродная, дом 14, корп. 1Фактический адрес 121087, Москва, Барклая д. 8,ТЦ Горбушка, пав. 240 - Пункт выдачиОГРН 1177746881311ИНН 7720391424КПП 772001001Банк АО "АЛЬФА-БАНК"Расчетный счет 40702810802720002824Корреспондентский счет 30101810200000000593БИК 044525593Генеральный Директор Смирнов ВладиславДмитриевич


Обратная связь
Оставьте Ваше сообщение и контактные данныеи наши специалисты свяжутся с Вами в ближайшеерабочее время для решения Вашего вопроса
Ваше имя*

Иван

Ваша почта*

ivanov@mail.ru

Ваш телефон*

+7 ( ____ ) ___-___-___

Тема вопроса*


Вопрос по работе магазина

Ваше сообщение*

Введите текст сообщения





Вы соглашаетесь на условия обработкиперсональных данных



Применить


Сбросить


*цена на устройство может поменятьсяпри поступлении



