{% set title = "Магазины в Москве" %}

{% set description = "" %}

{% set ogImage = "img/order/og.jpg" %}
{% set ogImage236 = "img/order/og-236.jpg" %}
{% set urlPage = "order" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center filter-show__hide">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}

Главная страница / Авторизация



Вернуться к списку заказов


Заказ №23493 от 26.05.2020
1 товар на сумму 35 240 руб.


История заказов



ФИО:Текущий статус:Сумма:
Заказ отменен

Мишка-Шопот 07.02.202035 240 р.


Повторить заказ




Параметры оплаты

Заказ №1224 от 26.05.20Сумма заказа: 12693 руб.
Счет №1224 от 26.05.20Оплата наличными

Не оплачено

Сумма к оплате по счету 12 693 руб.
Сменить способ оплаты
..................................



Параметры отгрузки

Отгрузка №, стоимость доставки 350 руб.
Служба доставки: СамовывозСтатус отгрузки: Ожидает обработки
Показать всё
...................


Отгрузка №, стоимость доставки 350 руб.
Служба доставки: СамовывозСтатус отгрузки: Ожидает обработки
Показать всё
...................



Содержимое заказа

Робот-пылесос XiaomiRoborock S5 Max RobotVacuum Cleaner White (Белый)

Цена:Количество:Сумма:
12 693 руб.1 шт.12 693 руб.



Товар на:Стоимость доставки:Итого:
12 693 руб.350 руб.12 693 руб.




Вернуться к списку заказов
