{% set title = "Мишкины монеты" %}

{% set breadcrumbs = ['Главная страница','Личный кабинет',title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center filter-show__hide">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

		<h1 class="h1">
			{{ title }}
		</h1>

	</section>

{% endblock %}




Личный кабинет
История заказов
Изменить личные данные
Мишкины монеты
Корзина заказов
Подписка
Контакты
Выход





Мишкины монеты:
9962
Ваш статус:
Серебряные монеты (3%)
Оплаченные заказы:
48656

Хочешь еще монеток?



Как получить монеты?



Статусы
В зависимости от суммы заказов на сайте Mishka-Shop, участники клуба получают разный статус. Чем выше статус — тем больше привилегий.


Платиновыемонеты


Cумма покупокпреодолела рубежв 170 тысяч рублей

Привилегии: 5% бонусов от суммы заказа


Золотые монеты

Ваши заказы
перевалили за
100 тысяч рублей

Привилегии: 4% бонусов от суммы заказа


Серебряные монеты

Сделали заказов
на общую сумму
от 30 тысяч рублей

Привилегии: 3% бонусов от суммы заказа




Бронзовые монеты


Получение 100 бонусов разово, при регистрации

Привилегии: 2% бонусов от суммы заказа