{% set title = "Корзина" %}

{% set ogImage = "img/cart/og.jpg" %}
{% set ogImage236 = "img/cart/og-236.jpg" %}
{% set urlPage = "cart" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}


Главная страница / Личный кабинет /
Содержимое корзины





1 монета = 1 рублю;
бонусы начисляются когда заказ выполнен или оплачен
Бонусы не начисляются в случае, если текущий заказ оплачивается имеющимися монетами
Количество бонусов и свой статус можно посмотреть в личном кабинете.




Оформить заказ


Продолжить покупки



Очистить корзину






Смартфон Xiaomi Redmi Note 9Pro 128GB/6GB Gray (Серый)

1





Наличие
Стоимость
Сумма




В наличии

19 290 р.
19 290 р.




Удалить



Всего товаров: 1Сумма заказа: 19 290 р.

Оформить заказ
