	<header class="header">

		<div class="header__top">

			<div class="center">

				<div class="header__wrap">

					<a class="header__logo" href="/">
						<img src="/img/logo.svg" alt="{{ site }}">
					</a>

					<button class="button btn-menu-toggle" type="button">
						<span>открыть меню</span>
					</button>

				</div>

{% include "template/menu.html" %}

			</div>

		</div>

		<div class="header__bootom">

			<div class="center">

				<div class="header__wrap">

					<div class="header__user">

						<div class="header__user-item">

							<a href="/" title="На главную">

							</a>

						</div>

						<div class="header__user-item">

							<button class="button" type="button" aria-label="Указать регион">

							</button>

						</div>

						<div class="header__user-item">

							<button class="button" type="button" aria-label="Поиск по сайту">

							</button>

						</div>

						<div class="header__user-item">

							<a href="/" title="Корзина покупок">

							</a>

						</div>

						<div class="header__user-item">

							<a href="/" title="Личный кабинет">

							</a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</header>