{% set title = "Фирменный магазин xiaomi в Москве, купить redmi, ноутбук, умный дом - Mishka-Shop" %}

{% set description = "Наш фирменный магазин xiaomi в Москве, предлагает купить продукцию xiaomi со значительной экономией вашего времени и денежных средств. Доставка, гарантия" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

{% include "main/search.html" %}
{% include "main/billboard.html" %}
{% include "main/menu-catalog.html" %}
{% include "main/top-swiper.html" %}
{% include "main/blog-swiper.html" %}
{% include "main/address-shops.html" %}

	</div>

{% endblock %}