{% set title = "Магазины в Москве" %}

{% set description = "" %}

{% set ogImage = "img/shop/og.jpg" %}
{% set ogImage236 = "img/shop/og-236.jpg" %}
{% set urlPage = "shop" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center filter-show__hide">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}

Главная страница / Бонусная система /
Доставка и оплата





Новости




Доставка и оплата




Контакты






О магазине




Гарантия и возврат




Пользовательскоесоглашение









Багратионовская

Пункт выдачи
Барклая д.8, ТЦ Горбушка, пав. 240 - Пункт выдачиРежим работы:Пн-Сб с 10:00 до 20:00Воскресенье выходной
Уважаемые клиенты!Просьба заранеерезервировать товар







Маяковская

Фирменный магазин
Оружейный переулок д.5(вход со стороны 4-йТверской-Ямской)Пн-Сб с 10:00 до 20:00(по Москве)Воскресенье - выходной
Уважаемые клиенты!Магазин закрыт на ремонт



Время работы магазинов
Пункт выдачи
Пн-Сб: с 10:00 до 20:00, Вс: ВыходнойТелефон: +7 (499) 110-99-38Email: info@mishka-shop.com




Самовывоз


Доставка по Москве




Доставка за МКАД


Доставка по России




Информация для клиентов


Уважаемый клиент, обращаем Ваше внимание, что самовывоз возможен только по предварительному заказу и после подтверждения заказа оператором. Резерв на товар действителен 2 дня


Самовывоз производится ежедневно:Понедельник - Суббота с 10.00 – 20.00  Выдача товара осуществляется по адресам:м.Багратионовская, Барклая д. 8, ТЦ Горбушка, пав. 240 - Пункт выдачи


Как нас найти:
Пункт выдачи Багратионовская

Фирменный магазин на Маяковской



Способы оплаты:









В пункте самовывоза вы можете расплатиться несколькими способами, а именно: Оплатить товар наличными; Оплатить товар банковской карточкой на сайте;Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт МИР, Visa и MasterCard Переводом с карты на карту (АльфаБанк; Тинькофф; СберБанк); Оплата Яндекс Деньгами. Оплата товара через корзину сайта (100% предоплата)


Для оплаты Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемои? персональнои? информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.