.accordion {

	&__head {

		position: relative;

	}

	&__head.is-open &__btn::after {

		transform: scaleX(.8) scaleY(-1) translateY(-10px) rotate(-135deg);

	}

	&__btn {

		cursor: pointer;

		&::after {

			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			right: 0;
			bottom: -30px;
			margin: auto;
			content: '';
			transform: scaleX(.8) rotate(-135deg);
			border-top: 1px solid;
			border-left: 1px solid;
			transition: .1s ease-in-out;

			@media ($mdWidth) {

				width: 12px;
				height: 12px;
				bottom: -22px;

			}

		}

	}

	&__body {

		overflow: hidden;
		position: relative;
		max-height: 0;
		/* opacity: 0; */

	}

	&__head.is-open + &__body {

		/* max-height: 3000px; */
		/* opacity: 1; */
		/* transition: .1s ease; */
		margin: -6px 0 57px;
		max-height: none;

		@media ($mdWidth) {

			margin: -5px 0 41px;

		}

	}

}