.catalog {

	&-head {

		margin: 20px 0;

		&__title {

			margin-bottom: 14px;

		}

		&__count {

			font-size: 12px;
			color: var(--text);
			margin-bottom: 15px;

		}

		&__btn {

			display: flex;
			justify-content: space-between;
			margin: 15px 0;

			.btn {

				font-size: 12px;
				padding: 0 20px;

			}

		}

		&__sort {

			padding-right: 40px !important;

			&::after {

				position: absolute;
				width: 8px;
				height: 8px;
				top: 0;
				right: 18px;
				bottom: 0;
				content: '';
				margin: auto;
				transition: .3s;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 241 241'%3E%3Cpath d='M220.088 57.667l-99.671 99.695-99.671-99.707a12.147 12.147 0 00-17.191 0c-4.74 4.752-4.74 12.451 0 17.203l108.261 108.297c4.74 4.752 12.439 4.752 17.179 0L237.256 74.859c4.74-4.752 4.74-12.463 0-17.215-4.728-4.729-12.428-4.729-17.168.023z'/%3E%3C/svg%3E");

			}

		}

	}

	&-list {

		&__item {

			margin: 20px 0;

		}

	}

}