.footer {

	flex-shrink: 0;

	&__flex {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 32px;

	}

	&__copyright {

		font-size: 16px;
		font-weight: 500;
		color: var(--text);
		flex-shrink: 0;
		order: 1;

	}

	&__social {

		order: 2;
		flex-shrink: 0;


	}
/*
	&__menu {

		column-count: 2;
		column-gap: 20px;
		column-width: 280px;

		@media ($mdWidth) {

			columns: auto;

		}

	}
 */
}