.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&[disabled] {

		pointer-events: none;

	}

}

.btn {

	display: block;
	padding: 0 30px;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	font-weight: 400;
	color: #fff;
	border-radius: 5px;
	background-color: var(--orange);

	&--white {

		color: var(--color);
		background-color: var(--bg);
		box-shadow: var(--shadow);

	}

	&--black {

		background-color: #2d3540;

	}

	&--tab {

		background-color: #f6f6f6;
		border-radius: 6px;
		color: #c9c9c9;
		font-weight: 300;
		font-size: 12px;
		height: 28px;
		min-width: 115px;
		line-height: 28px;
		padding: 0 20px;

		&.is-active {

			color: var(--color);

		}

	}

	&--buy {

		height: 36px;
		width: 40px;
		padding: 0;

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: #fff;

		}

	}

	&--readme {

		font-size: 14px;
		line-height: 18px;
		height: 18px;
		padding: 0;
		color: var(--color);
		background-color: transparent;
		border-bottom: 1px dotted;
		border-radius: 0;

		&-arrow {

			color: var(--orange);
			font-size: 20px;
			line-height: 30px;
			height: 30px;
			padding: 0;
			background-color: transparent;
			border-bottom: 2px dotted;
			border-radius: 0;

			&::after {

				position: absolute;
				width: 15px;
				height: 8px;
				top: 4px;
				right: -26px;
				bottom: 0;
				margin: auto;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'%3E%3Cpath fill='%23ff4a00' d='M13.28.22l-6 6-6-6a.73.73 0 00-1 1l6.46 6.57a.73.73 0 001 0l6.53-6.53a.73.73 0 10-1-1z'/%3E%3C/svg%3E");

			}

		}

	}

	&-scrollbar {

		overflow-x: auto;
		display: flex;
		padding: 0 15px 10px;
		margin: 0 -15px;

		&__item {

			padding-right: 10px;

		}

		@media ($tablet) {

			padding: 0 20px 10px;
			margin: 0 -20px;

		}

		&::-webkit-scrollbar {

			height: 6px;
			border-radius: 3px;
			background-color: #f5f6f8;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: var(--text);

		}

	}

}

.input {

	height: 48px;
	line-height: 20px;

	padding: 10px 15px;

	font-size: 16px;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: #fff;
	border: 0;
	border-radius: 0;

	color: var(--color);

	textarea& {

		resize: none;
		height: 192px;
		overflow: auto;
		padding: 8px 15px;

	}

	&::placeholder {

		color: var(--text);
		opacity: 1;
		font-size: 12px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:focus {

		outline: none;

		&::placeholder {

			opacity: 0;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		background-color: color(var(--error) a(25%)) !important;

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--text);
		background-color: #fff;

	}

}


.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;

	&__input {

		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__label {

		display: block;
		padding-left: 64px;

		&::before {

			width: 32px;
			height: 32px;
			position: absolute;
			top: 4px;
			left: 0;
			bottom: 0;
			margin: auto;
			content: '';
			background-color: #fff;

		}

	}

	&:hover &__label::before {

		box-shadow: 0 2px 8px rgba(34, 34, 34, 0.2);

	}

	&__input[type="checkbox"]:checked + &__label::before {

		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Crect width='10' height='10' fill='%23222'%3E%3C/rect%3E%3C/svg%3E%0A");

	}

	&--error &__label::before {

		background-color: color(var(--error) a(25%));

	}

}


.select {

	position: relative;
	display: block;

	&__label {

		pointer-events: none;
		display: block;

		padding-right: 40px !important;

		&::after {

			position: absolute;
			width: 8px;
			height: 8px;
			top: 0;
			right: 18px;
			bottom: 0;
			content: '';
			margin: auto;
			transition: .3s;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 241 241'%3E%3Cpath d='M220.088 57.667l-99.671 99.695-99.671-99.707a12.147 12.147 0 00-17.191 0c-4.74 4.752-4.74 12.451 0 17.203l108.261 108.297c4.74 4.752 12.439 4.752 17.179 0L237.256 74.859c4.74-4.752 4.74-12.463 0-17.215-4.728-4.729-12.428-4.729-17.168.023z'/%3E%3C/svg%3E");

		}

	}

	select {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.00001;

	}

}