.header {

	&__top {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);

	}

	&__bottom {

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);
		box-shadow: var(--shadow);

	}

	&__wrap {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__logo {

		position: relative;

		width: 234px;
		height: 80px;

		@media ($tablet) {

			width: 188px;
			height: 64px;

		}

		img {

			display: block;
			width: 100%;

		}

	}

}

.menu-show {

	.main,
	.footer {

		display: none;

	}

	.wrapper {

		padding: 0 !important;

	}

	.header {

		position: relative !important;
		box-shadow: none;

	}

}

.btn-menu-toggle {

	width: 32px;
	height: 24px;
	position: relative;
	flex-shrink: 0;
	top: 4px;
	right: -4px;

	position: absolute;
	top: 36px;
	right: 28px;

	&::before,
	&::after,
	span {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 24px;
		height: 2px;
		transition: var(--transitionDefault);
		background-color: var(--orange);
		transform: rotate(0deg);

	}

	&::before {

		bottom: 14px;
		content: '';

	}

	&::after {

		top: 14px;
		content: '';

	}

	.menu-show & {

		span {

			transform: rotate(225deg) scaleX(0);

		}

		&::before {

			transform: rotate(225deg) scaleX(1.1);
			bottom: 0;

		}

		&::after {

			transform: rotate(-225deg) scaleX(1.1);
			top: 0;

		}

	}

}

@media ($tablet) {
}