.header {

	&__top {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);

	}

	&__bottom {

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);
		box-shadow: var(--shadow);

	}

	&__wrap {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__logo {

		position: relative;

		width: 234px;
		height: 80px;

		@media ($tablet) {

			width: 188px;
			height: 64px;

		}

		img {

			display: block;
			width: 100%;

		}

	}

}

@media ($tablet) {

	.menu-show {

		.main,
		.footer {

			display: none;

		}

		.wrapper {

			padding: 0 !important;

		}

		.header {

			position: relative !important;
			box-shadow: none;

		}

	}

	.btn-menu-toggle {

		width: 32px;
		height: 24px;
		position: relative;
		flex-shrink: 0;
		top: 4px;
		right: -4px;

		position: absolute;
		top: 36px;
		right: 28px;

		&__top,
		&__center,
		&__bottom {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 24px;
			height: 2px;
			transition: .1s;
			background-color: var(--text);
			transform: rotate(0deg);

		}

		&__bottom {

			bottom: 14px;

		}

		&__top {

			top: 14px;

		}

		.menu-show & {

			&__center {

				background-color: transparent;

			}

			&__bottom {

				transform: rotate(225deg) scaleX(1.1);
				bottom: 0;

			}

			&__top {

				transform: rotate(-225deg) scaleX(1.1);
				top: 0;

			}

		}

	}

}