.header {

	&__top {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9;
		/* background-color: var(--bg); */

	}

	&__bottom {

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: var(--bg);
		box-shadow: var(--shadow);
		transition: var(--transitionDefault);

		&.is-hidden {

			opacity: 0;
			pointer-events: none;

		}

	}

	&__wrap {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;

	}

	&__logo {

		position: relative;

		width: 210px;
		height: 40px;

		@media ($tablet) {


		}

		img {

			width: 100%;

		}

	}

	&__user {

		display: flex;
		flex-grow: 1;
		justify-content: space-between;

		&-item {

			outline:1px solid red;
			display: flex;
			align-items: center;
			width: 30px;
			height: 30px;

		}

	}

}

.menu-show {

	.main,
	.footer {

		display: none;

	}

	.wrapper {

		padding: 0 !important;

	}

	.header {

		position: relative !important;
		box-shadow: none;

	}

}

.btn-menu-toggle {

	width: 30px;
	height: 30px;
	position: relative;
	flex-shrink: 0;

	&::before,
	&::after,
	span {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 29px;
		height: 4px;
		transition: var(--transitionDefault);
		background-color: var(--orange);
		transform: rotate(0deg);

	}

	&::before {

		bottom: 14px;
		content: '';

	}

	&::after {

		top: 14px;
		content: '';

	}

	.menu-show & {

		span {

			transform: rotate(225deg) scaleX(0);

		}

		&::before {

			transform: rotate(225deg) scaleX(1.1);
			bottom: 0;

		}

		&::after {

			transform: rotate(-225deg) scaleX(1.1);
			top: 0;

		}

	}

}

@media ($tablet) {
}