.scroll-observer {

	display: flex;
	justify-content: center;

	&.is-scroll {

		justify-content: flex-start;
		overflow-x: scroll;

		img {

			margin-bottom: 20px;

		}

		&::-webkit-scrollbar {

			height: 6px;
			border-radius: 3px;
			background-color: #d1d3d8;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: var(--text);

		}

	}

	&__item {

		&--row {

			display: flex;

		}

	}

}