{% set title = "Бонусная система" %}

{% set ogImage = "img/bonus/og.jpg" %}
{% set ogImage236 = "img/bonus/og-236.jpg" %}
{% set urlPage = "bonus" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}



Бонусная система магазина
Клуб «Mишкины Монеты» появился для постоянных покупателей нашего фирменного магазина xiaomi в Москве Mishka-Shop, c целью, чтобы Ваши покупки стали более приятными, а цены еще более радужными. Все друзья нашего клуба накапливают монеты за покупки и другие действия (репосты, написание отзывов, кол-ва покупок...). И могут оплачивать ими до 30% от суммы заказа, не учитывая доставку. Чтобы получать бонусы, надо делать покупки у нас на сайте через корзину, в магазине или по телефону.



Как получить монеты?
1. Зарегистрироваться на сайте + 100 монет 2. Купить любой товар, на любую сумму в нашем магазине + 2% от суммы заказа, без учета доставки 3. Оставить отзывы о магазине или товарах (согласно правилам) + 30 монет 4. Сделать репост записей в социальных сетях + 30 монет


1 монета = 1 рублю; бонусы начисляютсякогда заказ выполнен или оплачен
Бонусы не начисляются в случае, если текущий заказ оплачивается имеющимися монетами Количество бонусов и свой статус можно посмотреть в личном кабинете.



Статусы
В зависимости от суммы заказов на сайте Mishka-Shop, участники клуба получают разный статус. Чем выше статус — тем больше привилегий.



Бронзовыемонеты


Получение 100бонусов разово,при регистрации

Привилегии:  2% бонусов от суммы заказа


Золотыемонеты


Ваши заказыперевалили за100 тысяч рублей

Привилегии:  4% бонусов от суммы заказа




Серебряныемонеты


Сделали заказовна общую суммуот 30 тысяч рублей

Привилегии:  3% бонусов от суммы заказа


Платиновыемонеты


Cумма покупокпреодолела рубежв 170 тысяч рублей

Привилегии:  5% бонусов от суммы заказа