{% set title = "Бонусная система" %}

{% set ogImage = "img/bonus/og.jpg" %}
{% set ogImage236 = "img/bonus/og-236.jpg" %}
{% set urlPage = "bonus" %}

{% set breadcrumbs = ['Главная страница',title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

		<article class="bonus">

			<div class="bonus__text">

				<h1 class="h1">
					Бонусная система магазина
				</h1>

				<p>
					Клуб «Mишкины Монеты» появился для постоянных покупателей нашего фирменного магазина xiaomi в Москве Mishka-Shop, c целью, чтобы Ваши покупки стали более приятными, а цены еще более радужными.
				</p>

				<p>
					Все друзья нашего клуба накапливают монеты за покупки и другие действия (репосты, написание отзывов, кол-ва покупок...). И могут оплачивать ими до 30% от суммы заказа, не учитывая доставку.
				</p>

				<p>
					Чтобы получать бонусы, надо делать покупки у нас на сайте через корзину, в магазине или по телефону.
				</p>

				<img src="/img/bonus/mi.jpg" srcset="/img/bonus/mi@2x.jpg 2x" width="360" height="310" alt="" loading="lazy">

			</div>

			<div class="bonus__rules">

				<h2 class="h1">
					Как получить монеты?
				</h2>

				<ol>
					<li>
						<a href="/">Зарегистрироваться</a> на сайте + 100 монет
					</li>
					<li>
						Купить любой товар, на любую сумму в нашем магазине + 2% от суммы заказа, без учета доставки
					</li>
					<li>
						Оставить отзывы о магазине или товарах (согласно <a href="/">правилам</a>) + 30 монет
					</li>
					<li>
						Сделать репост записей в социальных сетях + 30 монет
					</li>
				</ol>

				<div class="bonus__rules-price">

					<img src="/img/bonus/gold.svg" width="32" height="32" alt="" loading="lazy">

					<p>
						1 монета = 1 рублю; бонусы начисляются когда заказ выполнен или оплачен
					</p>

				</div>

				<p>
					Бонусы не начисляются в случае, если текущий заказ оплачивается имеющимися монетами
				</p>

				<p>
					Количество бонусов и свой статус можно посмотреть в <a href="/">личном кабинете</a>.
				</p>

			</div>

			<div class="bonus__status">

				<h2 class="h1">
					Статусы
				</h2>

				<p>
					В зависимости от суммы заказов на сайте Mishka-Shop, участники клуба получают разный статус. Чем выше статус&nbsp;—&nbsp;тем больше привилегий.
				</p>

				<ul class="bonus__status-list">

{% set list = [

	{
		name  : "Бронзовые",
		img   : "bronze",
		desc  : "Получение 100 бонусов разово, при регистрации",
		bonus : "2% бонусов от суммы заказа"
	},
	{
		name  : "Серебряные",
		img   : "silver",
		desc  : "Сделали заказов на общую сумму от 30 тысяч рублей",
		bonus : "3% бонусов от суммы заказа"
	},
	{
		name  : "Золотые",
		img   : "gold",
		desc  : "Ваши заказы перевалили за 100 тысяч рублей",
		bonus : "4% бонусов от суммы заказа"
	},
	{
		name  : "Платиновые",
		img   : "platinum",
		desc  : "Cумма покупок преодолела рубеж в 170 тысяч рублей",
		bonus : "5% бонусов от суммы заказа"
	}

] %}

{% for item in list %}

					<li class="bonus__status-item">

						<h3 class="h2">
							{{ item.name }} <br> монеты
						</h3>

						<div class="bonus__status-rules">

							<img src="/img/bonus/{{ item.img }}.svg" width="42" height="42" alt="{{ item.name }}" loading="lazy">

							<p>
								{{ item.desc }}
							</p>

						</div>

						<div class="bonus__status-discount">

							<h4 class="h3">
								Привилегии:
							</h4>

							<p>
								{{ item.bonus }}
							</p>

						</div>

					</li>

{% endfor %}

				</ul>

			</div>

		</article>


	</section>

{% endblock %}
