{% set title = "Новости" %}

{% set description = "" %}

{% set ogImage = "img/news/og.jpg" %}
{% set ogImage236 = "img/news/og-236.jpg" %}
{% set urlPage = "news" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

	<section class="center">

{% include "_include/search.html" %}
{% include "_include/breadcrumbs.html" %}

	</section>

{% endblock %}

Новости
О магазине
Доставка и оплата
Гарантия и возврат
Контакты
Пользовательскоесоглашение






Xiaomi представила умный дверной замокс функцией распознавания лица
Устройство поддерживает установку паролей, сканирование отпечатка пальца и не только.

Автор: Ivanov
2 дня назад
